<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>YesManApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginValidationServlet</display-name>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <servlet-class>com.example.controller.admin.AdminLoginValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <url-pattern>/AdminLoginValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicesMod</display-name>
    <servlet-name>ServicesMod</servlet-name>
    <servlet-class>com.example.model.ServicesMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesMod</servlet-name>
    <url-pattern>/ServicesMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServices</display-name>
    <servlet-name>AddServices</servlet-name>
    <servlet-class>com.example.controller.admin.AddServices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServices</servlet-name>
    <url-pattern>/AddServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServicesServlet</display-name>
    <servlet-name>UpdateServicesServlet</servlet-name>
    <servlet-class>com.example.controller.admin.UpdateServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServicesServlet</servlet-name>
    <url-pattern>/UpdateServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.example.controller.admin.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceServlet</display-name>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>com.example.controller.admin.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWorkerServlet</display-name>
    <servlet-name>AddWorkerServlet</servlet-name>
    <servlet-class>com.example.controller.worker.AddWorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWorkerServlet</servlet-name>
    <url-pattern>/AddWorkerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerValidationServlet</display-name>
    <servlet-name>WorkerValidationServlet</servlet-name>
    <servlet-class>com.example.controller.worker.WorkerValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerValidationServlet</servlet-name>
    <url-pattern>/WorkerValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.example.controller.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidationServlet</display-name>
    <servlet-name>UserValidationServlet</servlet-name>
    <servlet-class>com.example.controller.user.UserValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidationServlet</servlet-name>
    <url-pattern>/UserValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkerStatusServlet</display-name>
    <servlet-name>UpdateWorkerStatusServlet</servlet-name>
    <servlet-class>com.example.controller.admin.UpdateWorkerStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkerStatusServlet</servlet-name>
    <url-pattern>/UpdateWorkerStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePicUpdateServlet</display-name>
    <servlet-name>ProfilePicUpdateServlet</servlet-name>
    <servlet-class>com.example.controller.user.ProfilePicUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePicUpdateServlet</servlet-name>
    <url-pattern>/ProfilePicUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookingsServlet</display-name>
    <servlet-name>AddBookingsServlet</servlet-name>
    <servlet-class>com.example.controller.user.AddBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingsServlet</servlet-name>
    <url-pattern>/AddBookingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingStatusServlet</display-name>
    <servlet-name>UpdateBookingStatusServlet</servlet-name>
    <servlet-class>com.example.controller.user.UpdateBookingStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingStatusServlet</servlet-name>
    <url-pattern>/UpdateBookingStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReviewServlet</display-name>
    <servlet-name>AddReviewServlet</servlet-name>
    <servlet-class>com.example.controller.user.AddReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewServlet</servlet-name>
    <url-pattern>/AddReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>com.example.controller.user.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDataServlet</display-name>
    <servlet-name>UpdateUserDataServlet</servlet-name>
    <servlet-class>com.example.controller.user.UpdateUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDataServlet</servlet-name>
    <url-pattern>/UpdateUserDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitFeedback</display-name>
    <servlet-name>submitFeedback</servlet-name>
    <servlet-class>com.example.controller.user.submitFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitFeedback</servlet-name>
    <url-pattern>/submitFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkerDet</display-name>
    <servlet-name>UpdateWorkerDet</servlet-name>
    <servlet-class>com.example.controller.worker.UpdateWorkerDet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkerDet</servlet-name>
    <url-pattern>/UpdateWorkerDet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdvertisementServlet</display-name>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <servlet-class>com.example.controller.worker.AddAdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <url-pattern>/AddAdvertisementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerPicUpdate</display-name>
    <servlet-name>WorkerPicUpdate</servlet-name>
    <servlet-class>com.example.controller.worker.WorkerPicUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerPicUpdate</servlet-name>
    <url-pattern>/WorkerPicUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaintServlet</display-name>
    <servlet-name>AddComplaintServlet</servlet-name>
    <servlet-class>com.example.controller.user.AddComplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaintServlet</servlet-name>
    <url-pattern>/AddComplaintServlet</url-pattern>
  </servlet-mapping>
</web-app>